 .tshirt {
    padding: 10px;
    margin-left: 30px;
    background-color: var(--other_color);
    margin-top: 20px;
    border: solid, var(--body_color), 2px;
    border-radius: 5px;
    border-width: 3px;
    position: relative;
    text-align: center;
    display: inline-block;
 } 
 
 .tshirtImg {
   width: 200px;
   height: 350px;
 }